# Analyse des données extraite via Graal

In [5]:


import pandas as pd
import seaborn as sns


## Récupération des données (requête DLGP) 
dataframe = pd.read_csv("data.csv")



dataframe.head()

,"{K->""11""","D->""female""","C->""22.0""","B->""Miss. Alice""","A->""Cleaver""","H->""0""","G->""0""","F->""113781""","E->""1""}"
0,"{K->""9""","D->""F""","C->""24.0""","B->""Miss. Alice""","A->""Herman""","H->""2.0""","G->""1.0""","F->""220845""","E->""2""}"
1,"{K->""10""","D->""female""","C->""23.0""","B->""Miss. Mabel Helen""","A->""Fortune""","H->""2""","G->""3""","F->""19950""","E->""1""}"
2,"{K->""13""","D->""M""","C->""32.0""","B->""Mr. Edward""","A->""Beane""","H->""0.0""","G->""1.0""","F->""2908""","E->""2""}"
3,"{K->""null""","D->""M""","C->""43.0""","B->""Mr. Escott Robert""","A->""Phillips""","H->""1.0""","G->""0.0""","F->""S.O./P.P. 2""","E->""2""}"
4,"{K->""null""","D->""male""","C->""30.0""","B->""Mr. Benjamin Laventall""","A->""Foreman""","H->""0""","G->""0""","F->""113051""","E->""1""}"